<aside class="sidebar">
    <h1>Matemáticas para primaria</h1>

    <nav>
        <a href="../index.html">
            <i class="icon"></i>
            Inicio
        </a>
        <a href="./aRombo.html">
            <i class="icon"></i>
            Área del Rombo
        </a>
        <a href="./aRomboide.html">
            <i class="icon"></i>
            Área del Romboide
        </a>
        <a href="./aCuadrado.html">
            <i class="icon"></i>
            Área del Cuadrado
        </a>
        <a href="./aRectangulo.html">
            <i class="icon"></i>
            Área del Rectángulo
        </a>
        <a href="./aTriangulo.html">
            <i class="icon"></i>
            Área del Triángulo
        </a>        
        <a href="./aCirculo.html">
            <i class="icon"></i>
            Área del Círculo
        </a>
        <a href="./aPoligonosRegulares.html">
            <i class="icon"></i>
            Área de Polígonos Regulares
        </a>
        <a href="./aFiguraPlana.html">
            <i class="icon"></i>
            Calcular Áreas de Diferentes Figuras Planas
        </a>
        <a href="#evaluacion">
            <i class="icon"></i>
        </a>
    </nav>
</aside>